<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hey</title>
    </head>
    <body>
        <div class="main">
            <h1>data:</h1>
            <div>
                <ul>
                <% for(var i = 0; i < data.length; i++) { %>
                    <li><%= data[i] %></li>
                <% } %>
                </ul>
            </div>
        </div>
    </body>
</html>